@import url("https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Fredericka+the+Great&family=Tapestry&display=swap");

.container {
  padding: 50px;
  display: column;
  text-align: center;
  align-items: center;
  justify-content: center;
}

.desc {
  font-size: 24px;
  color: #444;
  width: 100%;
  align-items: center;
  text-align: center;
  justify-content: center;
}

.title {
  font-family: "Fredericka the Great", cursive;
  color: green;
  padding: 2em;
}

@media screen and (max-width: 480px) {
  .title {
    text-align: center;
    font-size: larger;
  }

  .desc {
    width: 100%;
    text-align: center;
    font-size: 18px;
  }
}
