<<<<<<< HEAD
@import url("https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Fredericka+the+Great&family=Tapestry&display=swap");

=======
>>>>>>> 9e74b7891a148344d20ff57ee6ca2c54d313bb6e
.container {
  padding: 20px 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.desc {
  font-size: 24px;
  color: #444;
  width: 85%;
}

.wrapper {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

<<<<<<< HEAD
.title {
  font-family: "Fredericka the Great", cursive;
=======
.title{
  font-family: 'Fredericka the Great', cursive;
>>>>>>> 9e74b7891a148344d20ff57ee6ca2c54d313bb6e
  color: green;
}

@media screen and (max-width: 480px) {
  .title {
    text-align: center;
    font-size: larger;
  }

  .desc {
    width: 100%;
    text-align: center;
    font-size: 18px;
  }
<<<<<<< HEAD
}
=======
  }
>>>>>>> 9e74b7891a148344d20ff57ee6ca2c54d313bb6e
